.app {
    background-image: url(./photos/laptop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media  screen and (max-width:280px){
    .app {
        background-image: url(./photos/laptop.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
    



